.footer__link-list {
  margin: 0 18px 0 0;
}

.footer__link-list:last-child {
  margin-bottom: 0;
  margin-right: 0;
}

@media screen and (max-width: 720px) {
  .footer__link-list {
    margin-right: 0;
    margin-bottom: 32px;
  }
}