.lead__image {
  margin: 64px auto 0;
  width: 100%;
  box-sizing: border-box;
  height: auto;
  object-fit: cover;
}

@media screen and (max-width: 320px) {
  .lead__image {
    margin: 40px auto 0;
  }
}