.cover {
  display: flex;
  position: relative;
  justify-content: center;
  max-width: 1184px;
  width: 92.5%;
  margin: 0 auto;
  padding-top: 92px;
  text-decoration: none;
  color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
  .cover {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    padding-top: 90px;
  }
}

@media screen and (max-width: 425px) {
  .cover {
    padding-top: 66px;
  }
}