.cover {
  margin: 92px auto;
  width: calc(100% - 2 * 48px);
}

@media screen and (max-width: 1024px) {
  .cover {
    width: 100%;
    margin: 92px auto;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin: 90px auto 88px;
  }
}

@media screen and (max-width: 500px) {
  .cover {
    margin: 66px auto 64px;
  }
}