.cover__title {
  grid-column: 1;
  grid-row: 1;
  align-self: end;
  max-width: 560px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #FFFFFF;
  margin: 0 auto;
  margin-block-start: 0;
  margin-block-end: 0;
  text-decoration-line: none;
  z-index: 3;
}

@media screen and (max-width: 639px) {
  .cover__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
}